*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    font-family: 'Montserrat';
}
body{
    background-color: #000;
    display: flex;
    flex-direction: column;
}
h1{
    text-align: center;
    margin-top: 1em;
    font-size: 5em;
    color: #fff;
    font-weight: 500;
}
#btn-dodaj-todo{
    background-color: #10be64;
    color: #fff;
    margin: auto;
    margin-top: 40px;
    width: 50%;
    font-weight: bold;
    font-size: 20px;
    padding: 20px;
    border: none;
    border-radius: 10px;
    text-transform: uppercase;
    letter-spacing: 10px;
}
.icon-plus{
    width: 12px;
    align-items: center;
    margin-left: 0px;
    margin-right: 10px;
    color: #fff;

}