:root{
    --pozadina: #010101;
    --narančasta: #C3863E;
    --bijela: #fff;
    --zlatna: #FED576;
    --kontakt-tamnosiva: #2E2E2E;
    --kontakt-input-kontakt: #161616;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body {
    background: var(--pozadina);
    color: var(--bijela);
}
nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 1px solid red;
    height: 120px;
    width: 100%;
}
.navbar-container-left{
    margin-left: 58px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid blue;
    height: 50%;
    width: auto;
}
.navbar-container-right{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid purple;
    margin-right: 170px;
    height: 50%;
    width: auto;
}
.navbar-container-right > img{
    margin-left: 60px;
}

.homeIcon{
    margin-right: 77px;
}
h1{
    font-family: 'Righteous', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 99px;
    letter-spacing: 0.06em;
    margin-bottom: 13px;
}
h3{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    text-align: left;
    letter-spacing: 0.06em;
    color: #FED576;
    opacity: 0.4;
    margin-bottom: 80px;
}
ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    font-weight: normal;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: 0.06em;
    opacity: 0.9;
}
li{
    margin-right: 121px;
    border-bottom: 1px solid black;
    margin-top: auto;
    padding-bottom: 5px;
}
li:hover{
    border-bottom: 1px solid rgb(182, 182, 182);
    cursor: pointer;
}
.kontakt{
    margin-right: 0px;
}
main{
    border: 1px solid yellow;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 85vh;
}
.main-container-left{
    display: flex;
    margin-left: 58px;
    border: 1px solid green;
    width: 50%;
    height: 100%;
}
.main-container-right{
    border: 1px solid rgb(128, 0, 81);
    width: 50%;
    height: 100%;
    margin-right: 170px;
    margin-left: 212px;
}
.slika-balun{
    position: relative;
    width: 762px;
    height: 747px;
    z-index: 1;
    margin-top: auto;
}
.div-right-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.div-right-container > p{
    font-family: Montserrat;
    font-style: normal;
    font-weight: medium;
    font-size: 16px;
    line-height: 170%;
    text-align: justify;
    letter-spacing: 0.06em;
    opacity: 0.8;
    width: 79%;
    margin-bottom: 80px;
}

#btnPlayVideo{
    height: auto;
    width: auto;
    padding: 28px 30px;
    background: var(--narančasta);
    border-radius: 200px;
    border: none;
    text-align: center;
}
