:root{
    --pozadina: #000000;
    --narančasta: #C3863E;
    --bijela: #fff;
    --zlatna: #FED576;
    --kontakt-tamnosiva: #2E2E2E;
    --kontakt-input-kontakt: #161616;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body {
    background: var(--pozadina);
    color: var(--bijela);
}
nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 120px;
    width: 100%;
}
.navbar-container-left{
    margin-left: 58px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50%;
    width: auto;
}
.navbar-container-right{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 80px;
    height: 50%;
    width: auto;
}
.navbar-container-right > img{
    margin-left: 60px;
}

.homeIcon{
    margin-right: 77px;
}
h1{
    font-family: 'Righteous', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 99px;
    letter-spacing: 0.06em;
    margin-bottom: 13px;
}
h3{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    text-align: left;
    letter-spacing: 0.06em;
    color: #FED576;
    opacity: 0.4;
    margin-bottom: 100px;
}
ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    font-weight: normal;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: 0.06em;
    opacity: 0.9;
}
li{
    margin-right: 121px;
    border-bottom: 1px solid black;
    margin-top: auto;
    padding-bottom: 5px;
}
li:hover{
    border-bottom: 1px solid rgb(182, 182, 182);
    cursor: pointer;
}
.kontakt{
    margin-right: 0px;
}
main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 85vh;
    margin: auto;
}
.main-container-left{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 58px;
    width: 100%;
    height: 100%;
}
.slika-balun{
    margin: auto;
    max-width:100%;
    height:auto;
    z-index: 1;
}
.main-container-right{
    border: 1px solid red;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.div-right-container{
    border: 1px solid red;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 600px;
    height: 100%;
    margin: auto;
}
.div-p-ukratko{
    width: auto;
    margin-bottom: 100px;
}
.ukratko{
    font-family: Montserrat;
    font-style: normal;
    font-weight: medium;
    font-size: 18px;
    line-height: 220%;
    text-align: justify;
    letter-spacing: 0.08em;
    opacity: 0.8;
}
.div-btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#btnPlayVideo{
    display: block;
    height: auto;
    width: auto;
    padding: 20px 30px;
    background: var(--narančasta);
    border-radius: 50%;
    border: none;
    text-align: center;
}
#btnPlayVideo:hover , #btnVidiVise:hover {
    cursor: pointer;
    opacity: 0.85;
}
#btnVidiVise{
    margin-left: 100px;
    background: var(--narančasta);
    color: var(--bijela);
    border: none;
    font-size: 18px;
    letter-spacing: 3px;
    border-radius: 0px;
    padding: 35px 140px;
}

/*1490*/

/****************************************************************/
/****************************************************************/
/****************************************************************/
/****************************************************************/

@media screen and (max-width: 1424px){

    h1, h3, .ukratko{
        text-align: center;
    }
    h1{
        margin-top: 0;
        font-size: 9em;
    }
    h3{
        margin-top: 1em;
        font-size: 2em;
    }
    .main-container-left{
        display: none;
    }
    .ukratko{
        width: 750px;
        font-size: 22px;
    }
    .div-right-container{
        width: 100%;
    }
    .div-p-ukratko{
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 1120px){
    .navbar-container-right{
        display: none;
    }
    h1{
        margin-top: 0;
        font-size: 7em;
    }
    h3{
        margin-top: 1em;
        font-size: 1.5em;
    }
    .ukratko{
        width: 750px;
        font-size: 20px;
    }
    #btnPlayVideo{
        display: none;
    }
    #btnVidiVise{
        margin: auto;
    }
}

@media screen and (max-width: 940px){
    h1{
        margin-top: 0;
        font-size: 5.5em;
    }
    h3{
        margin-top: 0em;
        font-size: 1.3em;
    }
    .ukratko{
        width: 550px;
        font-size: 18px;
    }
}
@media screen and (max-width: 732px){
    h1{
        margin-top: 0;
        font-size: 4.5em;
    }
    h3{
        margin-top: 0em;
        font-size: 1.1em;
    }
    .ukratko{
        width: 550px;
        font-size: 17px;
    }
}

