:root{
    --pozadina: #010101;
    --tamnoNaranÄasta: #A36C2B;
    --bijela: #fff;
    --zlatna: #FED576;
    --kontakt-tamnosiva: #2E2E2E;
    --kontakt-input-kontakt: #161616;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body {
    background: var(--pozadina);
    color: var(--bijela);
}
nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 1px solid red;
    height: 120px;
    width: 100%;
}
.navbar-container-left{
    margin-left: 58px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid blue;
    height: 50%;
    width: auto;
}
.navbar-container-right{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid purple;
    margin-right: 170px;
    height: 50%;
    width: auto;
}
.navbar-container-right > img{
    margin-left: 60px;
}

.homeIcon{
    margin-right: 77px;
}
h1{
    font-family: 'Righteous', cursive;
}
ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    font-weight: normal;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: 0.06em;
    opacity: 0.9;
}
li{
    margin-right: 121px;
    border-bottom: 1px solid black;
    margin-top: auto;
    padding-bottom: 5px;
}
li:hover{
    border-bottom: 1px solid rgb(182, 182, 182);
    cursor: pointer;
}
.kontakt{
    margin-right: 0px;
}
