:root{
    --pozadina: #000;
    --narančasta: #C3863E;
    --bijela: #fff;
    --zlatna: #FED576;
    --kontakt-tamnosiva: #2E2E2E;
    --kontakt-input-kontakt: #161616;
    --kontakt-type: #6E6E6E;
}

h7{
    color: #fff;
    padding-left: 10px;
    text-align: center;
    text-transform: uppercase;
    margin-top: -20px;
    font-size: 1.3em;
    display: none;
}

/*NEBITNE STVARI*/

::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    border-radius: 8px;
  }
   
  ::-webkit-scrollbar-thumb {
    background: var(--zlatna); 
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: rgb(254, 213, 118, 80%); 
  }

/*********************************/

.main2{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.oMeni-text{
    margin-top: 30px;
    width: 25%;
    width: 523px;
    height: auto;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 220%;
    text-align: justify;
    letter-spacing: 0.08em;
    color: var(--bijela);
    opacity: 0.8;
}
.main2-container-right{
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.oMeni-slika{
    display: flex;
    align-items: center;
    margin: auto;
    width: 90%;
    height: auto;
    max-height: 650px;
    max-width: 900px;
}
.oMeni-slika:hover{
    cursor: pointer;
    -webkit-filter: brightness(30%);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.klick{
    position: absolute;
    text-align: center;
    width: auto;
    padding: 30px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 1);
    color: var(--bijela);
    font-size: 1.2em;
    font-weight: normal;
    text-transform: uppercase;
    opacity: 0;
}
.klick:hover{
    opacity: 1;
    cursor: pointer;
    background-color: var(--bijela);
    color: var(--kontakt-input-kontakt);

    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    -ms-transition: all 0.1s ease;
    transition: all 0.1s ease;
}
.oMeni-slika:hover + .klick{
    opacity: 1;
}

.fullscreenImage{
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0, 0.8);
    width: 100%;
    height: 100vh;
    z-index: 3;
    
}
.ix{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--bijela);
    padding: 0px 30px;
    height: 40px;
    width: auto;
}
.ix:hover{
    background-color: var(--bijela);
    cursor: pointer;
    /*background-color: rgb(195, 134, 62, 0.7);*/
    
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.ix:hover > .close{
    color: #000;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

/*******************************MAIN 3*********************************/

.main3{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.divPrikazi{
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.slider-prikaz-slika{
    border-radius: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: auto;
    height: auto;
}
.main3-container-down{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.main3-container-slike{
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: auto;
}
.strelice{
    position: relative;
    width: 44px;
    height: 44px;
    max-width: 44px;
    max-height: 44px;
    color: #fff;
    fill: #fff;
    z-index: 99;
    opacity: 0.6;
}
.strelice:hover{
    opacity: 1;
    cursor: pointer;
    padding: 2px;
}
.livaStrelica{
    transform: rotate(180deg);
}
.btnPrikaziSlike{
    text-align: center;
    color: var(--bijela);
    background-color: transparent;
    border: 2px solid white;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 1.3em;
    outline: none;
    width: 100%;
    padding: 30px 0;
    cursor: pointer;
}
.btnPrikaziSlike:hover{
    background-color: white;
    color: #161616;
    
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.galerijaSlike{
    width: 90%;
    height: auto;

}
#atmSlike{
    text-align: center;
    width: auto;
    padding: 20px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 1);
    color: var(--bijela);
    font-size: 1em;
    font-weight: normal;
    text-transform: uppercase;
}
#atmSlike:hover{
    cursor: pointer;
    background-color: var(--bijela);
    color: var(--kontakt-input-kontakt);

    -webkit-transition: all 0.4s ease;
    -moz-transition:    all 0.4s ease;
    -o-transition:      all 0.4s ease;
    -ms-transition:     all 0.4s ease;
    transition:         all 0.4s ease;
}
.okoStrelica{
    height: 30%;
    display: flex;
    align-items: center;
}
.main4{
    width: 100%;
    height: 100vh;
    background-color: var(--kontakt-tamnosiva);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.centrirat{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70%;
}
.main4-container-kontakt{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: top;
    width: 70%;
}
.kontakt-header1{
    width: 100%;
    text-align: center;
    margin-bottom: 0.1em;
    margin-top: 0em;
}

.main4-container-center{
    margin-left: 2.5em;
    margin-right: 2.5em;
    font-family: Montserrat;
}
.ime-prezime-input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
}
.obg{
    /*border: 1px solid red;*/
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*
.ime-prezime-input-container{
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}*/

h9{
    font-family: 'Righteous', cursive;
    font-size: 4em;
}
h6{
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: 200;
    padding: 10px;
    color: var(--bijela);
    opacity: 0.8;
}

input{
    width: 28em;
    height: 4.8125em;
    background-color: var(--kontakt-input-kontakt);
    color: var(--zlatna);
    font-size: 17px;
    font-weight: bold;
    border: none;
    margin-bottom: 20px;
    text-align: center;
}
textarea{
    padding: 10px;
    max-width: 28em;
    min-width: 28em;
    height: 100%;
    background-color: var(--kontakt-input-kontakt);
    color: var(--bijela);
    font-size: 17px;
    font-weight: normal;
    letter-spacing: 200%;
}
textarea:focus{
    outline: none;
}
input:hover, textarea:hover{
    background-color: #242424;
}
input[type="text"], input[type="email"]{
    -webkit-transition: width .35s ease-in-out;
    transition: width .35s ease-in-out;
}
input[type="text"]:focus, input[type="email"]:focus{
    width: 90%;
    background-color: #3d3d3d;
    outline: none;
    
}
input:focus::placeholder{
    color: transparent;
}
::placeholder{
    color: var(--kontakt-type);
    font-weight: 500;
    left: 20px;
}

.kontakt-input-predmet, textarea{
    border: 2px solid var(--narančasta);
}

#posaljiBtn{
    background: var(--narančasta);
    color: var(--bijela);
    border: none;
    font-size: 18px;
    letter-spacing: 3px;
    border-radius: 0px;
    padding: 35px 140px;
    text-align: center;
    margin-top: 50px;
}
#posaljiBtn:hover{
    cursor: pointer;
    opacity: 0.85;
    
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.centrirat:last-child{
    flex-direction: column;
    justify-content: space-around;
}
.div-prm{
    margin-bottom: 100px;
    margin-top: 10px;
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.fadeIn{
    animation: fadeIn 1s;
}

/**************************************************************/
/**************************************************************/

@media screen and (max-width: 1453px){
    .main4{
        height: 100%;
    }
    
}

@media screen and (max-width: 1424px){
    .main2{
        position: relative;
        margin-top: 150px;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .oMeni{
        font-size: 80px;
    }
    .oMeni-text{
        font-size: 16px;
        margin-bottom: 80px;
    }
    .galSlika{
        font-size: 60px;
    }
    #posaljiBtn{
        padding: 25px 120px;
        font-size: 17px;
    }
    .oMeni-slika{
        width: 500px;
    }
    .main3-container-slike{
        width: 80%;
    }
    
}
@media screen and (max-width: 1225px){
    .main4-container-kontakt{
        display: flex;
        flex-direction: column;
    }
    .centrirat{
        height: 100%;
    }
    input{
        max-width: 28em;
        height: 3.8125em;
    }
    .main2-container-right{
        display: none;
    }
    
}
@media screen and (max-width: 732px){
    .oMeni{
        font-size: 60px;
    }
    .oMeni-text{
        margin: auto;
        width: 80%;
        font-size: 16px;
        margin-top: 20px;
        margin-bottom: 80px;
    }
    
    .strelice{
        width: 24px;
        height: 24px;
    }
}
@media screen and (max-width: 600px){
    .oMeni{
        font-size: 40px;
    }
    .galSlika{
        font-size: 40px;
    }
    textarea{
        min-width: 300px;
    }
    input, textarea{
        width: 300px;
    }
    #posaljiBtn{
        padding: 35px 60px;
    }
    
}
@media screen and (max-width: 420px){

}
@media screen and (max-width: 330px){
    .oMeni{
        margin-top: 100px;
        font-size: 30px;
    }
    .oMeni-text{
        text-align: justify;
        margin-top: 0px;
    }
}
