*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    font-family: 'Open Sans';
}
:root{
    font-size: 16px;
    --text-primary: 16px;
    --text-secondary: 'Open sans';
    --bg-primary: #23232e;
    --bg-secondary: #141418;
}
h1{
    position: relative;
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: left;
    font-weight: bold;
}

body{
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
}
body::-webkit-scrollbar{
    width: 1rem;
}
body::-webkit-scrollbar-track{
    background: #1e1e24;
}
body::-webkit-scrollbar-thumb{
    background: #66498b;
}

main{
    margin-left: 5rem;
    padding: 1rem;
}
.fa-secondary{
    background-color: var(--bg-secondary);
}
.fa-primary{
    background-color: var(--bg-primary);
}

.navbar{
    width: 5rem;
    height: 100vh;
    position: fixed;
    background-color: var(--bg-primary);
    display: none;
}
.navbar-nav{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
.nav-item{
    width: 60%;
    color: beige;
}
.nav-item:last-child{
    margin-top: auto;
}
.nav-link{
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
}
.link-text{
    display: none;
    margin-left: 1rem;
}
.nav-link svg{
    min-width: 2rem;
    margin: 0 1.5 rem;
}
.navbar:hover{
    width: 16rem;
}
